.game-screen {
  position: relative;
  height: 100vh;
  //background: url('assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bubbles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-bubble {
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  will-change: transform, opacity;
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hud {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-size: 1.2em;
}
