<div class="game-screen">
  <app-header
    [username]="state.username"
    [accuracy]="accuracy"
    [timeElapsed]="timeElapsed"
  ></app-header>
  <div class="bubbles-container">
    <app-bubble
      *ngFor="let bubble of bubbles"
      [color]="bubble.color"
      [size]="bubble.size"
      [id]="bubble.id"
      [top]="bubble.top"
      [left]="bubble.left"
      [isSpawning]="bubble.isSpawning"
      [isWrong]="bubble.isWrong"
      (click)="onBubbleClick(bubble.id)"
    ></app-bubble>

    <app-question-modal
      *ngIf="showQuestionModal"
      [question]="currentQuestion"
      [timeLimit]="currentQuestion.available_time_limit"
      (answerSelected)="onAnswerSelected($event)"
      (skipQuestion)="onSkipQuestion()"
      (remainingTimeUpdate)="calculateTimeElapsed($event)"
    ></app-question-modal>
  </div>
  <div class="hud">
    <div class="stat-item">
      <span class="label">Player:</span>
      <span class="value">{{ username }}</span>
    </div>
    <div class="stat-item">
      <span class="label">Accuracy:</span>
      <span class="value accuracy-text">{{ accuracy }}%</span>
    </div>
    <div class="stat-item">
      <span class="label">Time:</span>
      <span class="value">{{ timeElapsed }}s</span>
    </div>
    <div class="stat-item">
      <span class="label">Bubbles:</span>
      <span class="value bubbles-count">{{ bubbles.length }}</span>
    </div>
  </div>
</div>
